# Dependencies:
/.bundle
/node_modules
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/.yardoc
/_yardoc/
/doc
/pkg

# rspec failure tracking
.rspec_status

# unrelated folder
/spec/reports/
/tmp/

# Editors and IDEs:
.DS_Store
.idea/
.vscode
*.sw?
.sublime-workspace
